<br>
<br>
<br>
<h3>Sehensw端rdigkeit 端ber ein Formular hinzufuegen</h3>
<form action="/sight/add" method="post">
    <p>
        <label>sight name</label><input value="" name="sightname"/><br>
        <label>sight url</label><input value="" name="sighturl"/><br>
        <label>sight Description</label><input value="" name="sightdescription"/><br>
        <label>sight Longitude as float</label><input value="" name="sightlongitude"/><br>
        <label>sight Latitude as float</label><input value="" name="sightlatitude"/><br>

        <br>
        <button type="submit">Add sight</button>

    </p>

</form>
<h3>Sehensw端rdigkeit 端ber eine json-Datei hinzufuegen</h3>
 <input type="file" id="selectFiles" value="Import" /><br />
    <button id="import">Import</button>

