<br>
<br>
<br>
<h3>Hier können Sie Sehenswürdigkeiten hinzufügen</h3>
<form action="/sight/add" method="post">
    <p>
        <label>sight name</label><input value="" name="sightname"/><br>
        <label>sight url</label><input value="" name="sighturl"/><br>
        <label>sight Description</label><input value="" name="sightdescription"/><br>
        <br>
        <button type="submit">Add sight</button>

    </p>

</form>