<br>
<br>
<div class="container">
      <div class="page-header">
        <h3>Sehenswürdigkeiten</h3>
      </div>
      <div id="map" style="width: 90%; height: 70%; position:fixed"></div>
    </div>






<script src="map.js"></script>




    