<br>
<br>

<h1>
    Sights
</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Description</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.sightname}}</td>
        <td>{{this.sighturl}}</td>
        <td>{{this.sightdscription}}</td>
        

    </tr>
    {{/each}}
    
    
    


</table>